# exclude git
.git

# exclude IDE files
.idea

# exclude temporary development files
_todo/*

# exclude build temporary files
debian/kwsitemapgenerator/*

# exclude environment-depend config
sources/*.ini
_temp/*
production/*.ini

